@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* base setup */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* base typography */

h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
}

p {
  color: #27272799;
  font-size: 18px;
}

h1,
h2,
h3 {
  color: #272727;
  font-weight: bold;
}

